{{ 'carrusel-tabs.css' | asset_url | stylesheet_tag }}

<tabs-container>
  <section class="tabs-titles">
    {% for block in section.blocks %}
      {% if block.settings.tab_title != blank %}
        <tab-title
          class="tab-title" 
          index={{ forloop.index }}
          {% if forloop.first %}
            active
          {% endif %}
        > 
          {{ block.settings.tab_title }} 
      </tab-title>
      {% endif %}
    {% endfor %}
  </section>

  <section class="tabs-content">
    {% for block in section.blocks %}
      {% if block.settings.tab_collection != blank %}
        <tab-content 
          class="tab-content" 
          index={{ forloop.index }}
          {% if forloop.first %}
            active
          {% endif %}
        > 
          {{ block.settings.tab_collection.title }} 
        </tab-content>
      {% endif %}
    {% endfor %}
  </section>
</tabs-container>


{% schema %}
  {
    "name": "Carrusel Tabs",
    "class": "carrusel-tabs-container",
    "tag": "section",
    "settings": [
    ],
    "blocks": [
      {
        "type": "carrusel-tab",
        "name": "Carrusel Tab",
        "settings": [
          {
            "type": "text",
            "id": "tab_title",
            "label": "Tab title"
          },
          {
            "type": "collection",
            "id": "tab_collection",
            "label": "Tab Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Carrusel Tabs"
      }
    ]
  }
{% endschema %}
